* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

body{
    font-family: arial;
    width: 300px 50% 500px;
    margin: 0 auto;
    text-align: center;
}
.container{
    background: ;
    justify-content: left;
}
fieldset{
    margin-top: 10px;
    border: none;

}
fieldset label{
    display: block;
}